.category-title {
    font-size: 11px;
    // font-style: italic;
    color: red;
}

.post-title {
    font-weight: bold;
}

.header-logo {
    justify-content: center;
    margin-bottom: 10px;
}

.header-logo-content {
    width: 40%;
    justify-content: center;
}