.rubriques-title {
    color: red;
    margin-top: 25px;
    font-size: 20px;
}

.menu-subscription {
    background-color: #ffbc00;
}

.settings {
    margin-top: 20px;
    color: red;
    font-size: 20px;
}